anyio==3.3.4
beautifulsoup4==4.10.0
certifi==2021.10.8
charset-normalizer==2.0.7
fastapi==0.70.0
idna==3.3
pydantic==1.8.2
requests==2.26.0
sniffio==1.2.0
soupsieve==2.2.1
starlette==0.16.0
tabulate==0.8.9
typing-extensions==4.7.0.0
urllib3==1.26.7
uvicorn==0.15.0
ebaysdk==2.2.0
